<?xml version="1.0" encoding="utf-8" ?>
<Configuration status="WARN">
    <Properties>
        <Property name="CONSOLE_LOG_PATTERN">%d{dd-MM-yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="FILE_LOG_PATTERN">%d %p %c{1.} [%t] %m%n</Property>
        <Property name="FILE_LOG_NAME">logs/application.log</Property>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_LOG_PATTERN}"/>
        </Console>
        <File name="LogToFile" fileName="${FILE_LOG_NAME}">
            <PatternLayout pattern="${FILE_LOG_PATTERN}"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.ems" level="INFO" additivity="false">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>